:root {
  --hybridmag-color-primary: #65bc7b;
  --hybridmag-color-tertiary: #272c30;
  --hybridmag-color-main-menu: #272c30;
  --hybridmag-color-text-main: #404040;
  --hybridmag-color-text-light: #7D7D7D;
  --hybridmag-color-text-headings: #222222;
  --hybridmag-color-link: #0a0808;
  --hybridmag-color-link-hover: var(--hybridmag-color-primary);
  --hybridmag-color-link-visited: #5d7ddb;
  --hybridmag-color-button-background: var(--hybridmag-color-primary);
  --hybridmag-color-button-text: #ffffff;
  --hybridmag-color-button-hover-text: #ffffff;
  --hybridmag-color-button-hover-background: #222222;
  --hybridmag-color-button-focus-background: #111111;
  --hybridmag-color-border: #E0E0E0;
  --hybridmag-color-input-border: #ccc;
  --hybridmag-color-text-input-focus: var(--hybridmag-color-text-main);
  --hybridmag-color-input: var(--hybridmag-color-text-main);
  --hybridmag-color-input-background: inherit;
  --hybridmag-color-background-pre: #eeeeee;
  --hybridmag-color-bg-cl-sep-content: #ffffff;
}

:root {
  --hybridmag-font-size-base: 16px;
  --hybridmag-font-size-xxxs: 0.75rem;
  --hybridmag-font-size-xxs: 0.813rem;
  --hybridmag-font-size-xs: 0.875rem;
  --hybridmag-font-size-sm: 0.938rem;
  --hybridmag-font-size-md: 1.063rem;
  --hybridmag-font-size-amd: 1.125rem;
  --hybridmag-font-size-lg: 1.313rem;
  --hybridmag-font-size-xl: 1.5rem;
  --hybridmag-font-size-xxl: 1.625rem;
  --hybridmag-font-size-xxxl: 2rem;
  --hybridmag-font-size-xxxxl: 2.25rem;
  --hybridmag-line-height-body: 1.5;
  --hybridmag-line-height-article: 1.7;
  --hybridmag-line-height-headings: 1.3;
  --hybridmag-line-height-pre: 1.6;
  --hybridmag-font-weight-headings: 600;
}
  
:root {
  --hybridmag-post-cols-gap: 40px;
  --hybridmag-footer-cols-gap: 40px;
}

:root {
    --hybridmag-global-spacing: 35px;
    --hybridmag-sidebar-spacing: 35px;
    --hybridmag-post-cols-gap: 35px;
    --hybridmag-post-row-gap: 35px;
    --hybridmag-global-inner-spacing: 20px;
    --hybridmag-footer-cols-gap: 40px;
    --hybridmag-global-box-shadow: 0 0 15px 0 rgba( 0, 0, 0, 0.06);
    --hybridmag-global-border-radius: 6px;

    --hybridmag-sticky-element-height: 80px;

    @media (min-width: 480px) {
        --hybridmag-global-inner-spacing: 30px;
    }
}

.hm-cl-one {
    --hybridmag-global-spacing: 50px;
    --hybridmag-sidebar-spacing: 50px;
    --hybridmag-post-cols-gap: 50px;
    --hybridmag-post-row-gap: 50px;
}

  html {
    font-size: var(--hybridmag-font-size-base);
  }
  
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    color: var(--hybridmag-color-text-main);
    font-family: "Figtree", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.7;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: both;
    font-family: "Figtree", Helvetica, Arial, sans-serif;
    line-height: var(--hybridmag-line-height-headings);
    font-weight: var(--hybridmag-font-weight-headings);
    margin: 20px 0;
  }
  
  h1 {
    font-size: var(--hybridmag-font-size-xxxl);
  }
  
  h2 {
    font-size: var(--hybridmag-font-size-xl);
  }
  
  h3 {
    font-size: var(--hybridmag-font-size-lg);
  }
  
  h4 {
    font-size: var(--hybridmag-font-size-md);
  }
  
  h5 {
    font-size: var(--hybridmag-font-size-base);
  }
  
  h6 {
    font-size: var(--hybridmag-font-size-sm);
  }
    
  p {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  
  
  blockquote {
    border-left: 4px solid var(--hybridmag-color-primary);
    box-shadow: inset 0 0 0 0 #ddd;
    margin: 0;
    padding-left: 1em;
  }
  
  pre {
    background: var(--hybridmag-color-background-pre);
    font-family: "Courier 10 Pitch", courier, monospace;
    line-height: var(--hybridmag-line-height-pre);
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
  }
  
  code,
  kbd,
  tt,
  var {
    font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  }
  
  abbr,
  acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
  }
  
  mark,
  ins {
    background: #fff9c0;
    text-decoration: none;
  }
  
  big {
    font-size: 125%;
  }
  
  /* Elements
  --------------------------------------------- */
  body {
    background-color: #ffffff;
  }

  body.hybridmag-boxed.page-template-template-magazine.hm-cl-sep .editor-styles-wrapper,
  body.hybridmag-wide.page-template-template-magazine.hm-cl-sep .editor-styles-wrapper {
    background: #f5f5f5;
  }

  body.hybridmag-boxed.page-template-template-magazine.hm-cl-one .editor-styles-wrapper,
  body.hybridmag-wide.page-template-template-magazine.hm-cl-one .editor-styles-wrapper {
    background: #ffffff;
  }

  hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
  }
  
  ul,
  ol {
    margin: 0 0 1.5em;
    padding-left: 2rem;
  }
  
  ul {
    list-style: disc;
  }
  
  ol {
    list-style: decimal;
  }
  
  li > ul,
  li > ol {
    margin-bottom: 0;
    padding-left: 2rem;
  }
  
  dt {
    font-weight: 700;
  }
  
  dd {
    margin: 0 1.5em 1.5em;
  }
  
  /* Make sure embeds and iframes fit their containers. */
  embed,
  iframe,
  object {
    max-width: 100%;
  }
  
  img {
    height: auto;
    max-width: 100%;
  }
  
  figure {
    margin: 0 0 1em;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%;
  }
    
  table, th, td {
    border: 1px solid var(--hybridmag-color-border);
  }
    
  th {
    background: #f8f8f8;
    padding: 8px 15px;
    text-align: left;
  }
    
  td {
    padding: 5px 15px;
  }
  
  /* Links
  --------------------------------------------- */
  a {
    /*color: var(--hybridmag-color-link);*/
    color: #046bd2;
    text-decoration: underline;
  }
  
  a:hover, a:focus, a:active {
    color: var(--hybridmag-color-link-hover);
  }
  
  a:focus {
    outline: thin dotted;
  }
  
  a:hover, a:active {
    outline: 0;
  }
  
  /* Galleries
  --------------------------------------------- */
  .gallery {
    margin-bottom: 1.5em;
    display: grid;
    grid-gap: 1.5em;
  }
  
  .gallery-item {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  
  .gallery-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .gallery-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .gallery-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .gallery-columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  
  .gallery-columns-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  
  .gallery-columns-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  
  .gallery-columns-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  
  .gallery-columns-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  
  .gallery-caption {
    display: block;
  }

.wp-block-group .wp-block-group__inner-container > *:last-child {
  margin-bottom: 0;
}

.wp-block-columns .wp-block-column > *:last-child {
  margin-bottom: 0;
}

.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
    padding: 0;
    list-style: none;
}

.wp-block-archives li,
.wp-block-categories li,
.wp-block-latest-posts li {
    margin-bottom: 0.5em;
}

.wp-block-latest-comments {
    padding-left: 0;
}

.page-content a.wp-block-button__link,
.entry-content a.wp-block-button__link,
.entry-summary a.wp-block-button__link,
.wp-block-button__link {
  border-radius: 3px;
  background: var(--hybridmag-color-button-background);
  color: var(--hybridmag-color-button-text);
  cursor: pointer;
  line-height: 1;
  padding: 0.8em 1em 0.8em;
  font-size: var(--hybridmag-font-size-base);
  font-weight: bold;
  text-decoration: none;
}

.page-content a.wp-block-button__link:hover,
.entry-content a.wp-block-button__link:hover,
.entry-summary a.wp-block-button__link:hover,
.wp-block-button__link:hover {
  color: var(--hybridmag-color-button-hover-text);
  background: var(--hybridmag-color-button-hover-background);
}

.page-content a.wp-block-button__link:active, .page-content a.wp-block-button__link:focus,
.entry-content a.wp-block-button__link:active,
.entry-content a.wp-block-button__link:focus,
.entry-summary a.wp-block-button__link:active,
.entry-summary a.wp-block-button__link:focus,
.wp-block-button__link:active,
.wp-block-button__link:focus {
  background: var(--hybridmag-color-button-focus-background);
}

.wp-block-search__button {
    padding: 0.8rem 1rem;
    border: none;
}

.wp-block-quote {
  margin-bottom: 30px;
}

.wp-block-pullquote {
	border-left: none;
	border-right: none;
  font-size: var(--hybridmag-font-size-xl);
	padding: 2.5rem 0;
	text-align: left;
  margin-top: 40px;
	margin-bottom:40px;
}

.wp-block-pullquote blockquote {
	border-left: none;
}

.wp-block-pullquote blockquote p, 
.wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: var(--hybridmag-font-size-xl);
	line-height: 1.3;
  margin-bottom: 0.5em;
	margin-top: 0;
  font-style: italic;
}

.wp-block-pullquote cite,
.wp-block-pullquote .wp-block-pullquote__citation {
	font-size: var(--hybridmag-font-size-sm);
}

.wp-block-pullquote cite::before,
.wp-block-pullquote .wp-block-pullquote__citation::before {
	content: "—";
  margin-right: 0.25rem;
}

.wp-block-pullquote.is-style-solid-color, 
.wp-block-pullquote.has-background, 
.wp-block-pullquote[style*=border-style][style*=border-width] {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  margin-left: 0;
  margin-right: 0;
}

.article-section-title {
	border-bottom: 2px solid var(--hybridmag-color-primary);
	display: inline-block;
	line-height: 1.2;
}

/* Custom Block Styles */
.bnmbcs.is-style-boxed { 
  padding: var(--hybridmag-global-inner-spacing); 
  background: var(--hybridmag-color-bg-cl-sep-content);
  border-radius: var(--hybridmag-global-border-radius);
  box-shadow: var(--hybridmag-global-box-shadow);
}

.wpbnmspp.image-alignbehind .post-thumbnail img, 
.wpbnmspp .post-thumbnail img {
  border-radius: var(--hybridmag-global-border-radius);
}

.wpbnmspp.image-alignbehind .post-has-image .bnm-entry-wrapper {
  border-bottom-left-radius: var(--hybridmag-global-border-radius);
  border-bottom-right-radius: var(--hybridmag-global-border-radius);
}

.bnm-fp1-container, .bnm-fp2-container, .thbnm-swiper {
  overflow: hidden;
  border-radius: var(--hybridmag-global-border-radius);
}

.wpbnmpb1 .post-thumbnail img, 
.wpbnmpb2 .post-thumbnail img {
    border-radius: var(--hybridmag-global-border-radius);
}
