.hm-toggle-switch {
	position: relative;
	width: 48px;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	padding-left: 15px;
}

.hm-toggle-switch .hm-toggle-switch-checkbox {
	display: none;
}

.hm-toggle-switch .hm-toggle-switch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #ddd;
	border-radius: 20px;
	padding: 0;
	margin: 0;
}

.hm-toggle-switch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.hm-toggle-switch-inner:before,
.hm-toggle-switch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 22px;
	padding: 0;
	line-height: 22px;
	font-size: 20px;
	color: white;
	font-family: dashicons;
	font-weight: bold;
	box-sizing: border-box;
}

.hm-toggle-switch-inner:before {
	content: "";
	padding-left: 8px;
	background-color: #2885bb;
	color: #fff;
}

.hm-toggle-switch-inner:after {
	content: "";
	padding-right: 8px;
	background-color: #eee;
	color: #999;
	text-align: right;
}

.hm-toggle-switch-switch {
	display: block;
	width: 16px;
	margin: 3px;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 22px;
	border: 2px solid #ddd;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}

.hm-toggle-switch-checkbox:checked + .hm-toggle-switch-label .hm-toggle-switch-inner {
	margin-left: 0;
}

.hm-toggle-switch-checkbox:checked + .hm-toggle-switch-label .hm-toggle-switch-switch {
	right: 0px;
}

.hm-toggle-switch-control {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.customize-control.customize-control-hybridmag-toggle-switch {
	margin-bottom: 20px;
}

.hm-toggle-switch-control .customize-control-title {
	display: inline-block;
	line-height: 1.5;
	margin-bottom: 0;
}

.hm-toggle-switch-desc {
	flex: 1;
}